%nav
  %ul
    %li= link_to "Home", root_url
    - if not current_user.blank?
      %li= link_to "Albums", admin_albums_url
      %li= link_to current_user.first_name + "_sign_out", destroy_user_session_url, :method => 'delete'
    - if current_user.blank?
      %li= link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
      %li= link_to image_tag( 'google_32.png'), '/users/auth/google'

%p#notice= notice

%h1= @album.name
      
%table#photos
  %tbody
    - @album.photos.sort { |a,b| a.ordering <=> b.ordering }.each do |photo|
      %tr
        %td= best_in_place photo, :title, :path => [:admin,photo]          
        %td= best_in_place photo, :ordering, :path => [:admin,photo]
        %td= image_tag photo.imagefile_url(:thumb)
        %td
          %a.delete_post{"data-confirm" => "Are you sure you want to delete this album?", "data-method" => "delete", :href => admin_photo_path(photo), :rel => "nofollow"} Destroy

= link_to 'Upload photos', admin_photos_uploader_path         
= link_to 'Back', admin_albums_path