$("#c<%=  @comment.post.id.to_s %>").filter(".comment").css({"display":"block"});
$("#nc<%=  @comment.post.id.to_s %>").filter(".newcomment").css({"display":"none"});
$("#ch<%=  @comment.post.id.to_s %>").filter(".commenthist").append("<div class='commenthist_unit'><img alt='<%= @comment.user.first_name %>' src='<%= @comment.user.avatar %>' title='<%= @comment.user.first_name %>'><%= @comment.body %></div>");  
