%nav
  %ul
    %li= link_to "Home", root_url
    - if not current_user.blank?
      %li= link_to "Albums", admin_albums_url
      %li= link_to current_user.first_name + "_sign_out", destroy_user_session_url, :method => 'delete'
    - if current_user.blank?
      %li= link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
      %li= link_to image_tag( 'google_32.png'), '/users/auth/google_oauth2'

%h1 New photo

= form_for @photo, :html => {:multipart => true} do |f|
   = f.file_field :imagefile,:multipe => true
   = f.submit

= link_to 'Back', photos_path

