%nav
  %ul
    %li= link_to "Home", root_url
    - if not current_user.blank?
      %li= link_to "Albums", admin_albums_url
      %li= link_to current_user.first_name + "_sign_out", destroy_user_session_url, :method => 'delete'
    - if current_user.blank?
      %li= link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
      %li= link_to image_tag( 'google_32.png'), '/users/auth/google'

%body
  %container_right
    #file-uploader
      %noscript
        %p Please enable JavaScript to use file uploader

- if not current_user.blank?
  :javascript
    var uploader = new qq.FileUploader({
      element: document.getElementById('file-uploader'),
      action: '/admin/photos/uploader',
      token: getMetaContents('csrf-token'),
      params: {
        id: '#{params[:id]}'
      }
    });
  
    
%p#notice= notice


- if not current_user.blank?
  = select_tag "album", options_from_collection_for_select(@albums, "id", "name"), :prompt => "Select album", :data_behavior => "select_album"
   