%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "/assets/style.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %title Blog
%body
  %hgroup
    #albumname
      %h1 Blog    
  %blogsection#bgblog
    %blogarticle#blog.blog
      .customScrollBox
        .container
          .content
            = link_to 'New Blog entry', new_admin_post_path     
            - @posts.each do |post|
              %h2
                = best_in_place post, :title,:path => [:admin,post]
              .date
                %span.day
                  = post.created_at.day
                %span.month
                  = post.created_at.strftime("%b")  
                %span.year
                  = post.created_at.year
              %p.nomargin
                = raw(post.content)
                %a.delete_post{"data-confirm" => "Are you sure you want to delete this blog?", "data-method" => "delete", :href => admin_post_path(post),:rel => "follow"} Destroy
                %br/
                .commenthist
                  = post.comments.length.to_s + " Comments"
                  - if post.comments.length > 0
                    .commenthist_unit
                      %img{:alt => post.comments.last.user.first_name, :src => post.comments.last.user.avatar, :title => post.comments.last.user.first_name}/                  
                      = post.comments.last.body
              = link_to "Edit this post","/admin/editor" + post_path(post)         
              .border
        .dragger_container
          .dragger
        %a.scrollUpBtn{:href => "#"}
        %a.scrollDownBtn{:href => "#"}
         

%br


