%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "/assets/blog_style.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/assets/ui-lightness/jquery-ui-1.7.3.custom.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %title Blog
%body
  %blogsearch#blogsearch
    %h2 Search Blog
    = search_form_for @search, :remote => true do |f|
      %table
        %tr
          %td
            .field
              = f.label :title_cont, "Title contains"
          %td
            .field  
              = f.text_field :title_cont
        %tr
          %td
            .field    
              = f.label :created_at_gt, "After "
          %td
            .field
              = f.text_field :created_at_gt        
        %tr
          %td
            .field    
              = f.label :created_at_lt, "Before "
          %td
            .field
              = f.text_field :created_at_lt
        %tr
          %td
            .field
              Sort:
          %td
            .field  
              = f.sort_fields do |s| 
                = s.sort_select
        %tr
          %td         
            .actions
              = f.submit "Search"
          %td    
    %p
      #searchresults
    .border    
    %h2 Recent Posts
    %table
      - @posts[0..5].each do |post|
        %tr
          %td
            = link_to post.title,post_path(post)
    .border                   
    %p    
      Do you want to receive an email when I post a new blog?
    - if not current_user.blank?
      = best_in_place current_user, :alert_blogs,:type => :checkbox, :collection => ["No, thanks", "Yes, of course!"]  
    - if current_user.blank?
      = link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
      = link_to image_tag( 'google_32.png'), '/users/auth/google_oauth2'    
  %blogsection#bgblog
    %blogarticle#blog.blog
      .customScrollBox
        .container
          .content   
            - @posts.each do |post|
              %h2{:id=> "title"+ post.id.to_s,"data-mercury"=> "simple"}
                = raw(post.title)
              .date{:title => post.created_at.strftime('%I:%M:%S %p')}
                %span.day{:id => post.id.to_s}
                  = post.created_at.day
                %span.month
                  = post.created_at.strftime("%b")  
                %span.year
                  = post.created_at.year
              %p.nomargin
                .mercury-region{:id => "post_content" + post.id.to_s,"data-mercury" => "full"}
                  = raw(post.content)
                %br/
                .commentbox 
                  .commenthist{:id => "ch"+ post.id.to_s}
                    - if post.comments.length < 2
                      = post.comments.length.to_s + " Comments"
                    - if post.comments.length > 1
                      = link_to post.comments.length.to_s + " Comments",'#',:class => "comments-link",:id => 'cl' + post.id.to_s
                      .popupComments{:id => "pc"+ post.id.to_s}   
                        - post.comments[0...-1].each do |comment|
                          .commenthist_unit
                            %img{:alt => comment.user.first_name, :src => comment.user.avatar, :title => comment.user.first_name}/
                            %span.time{:title => comment.created_at.strftime('%a %d %b %Y')}
                              = comment.created_at.strftime('%I:%M:%S %p')                  
                            %br/  
                            %span.mycom                                          
                              = comment.body
                    - if post.comments.length > 0
                      .commenthist_unit
                        %img{:alt => post.comments.last.user.first_name, :src => post.comments.last.user.avatar, :title => post.comments.last.user.first_name}/
                        %span.time{:title => post.comments.last.created_at.strftime('%a %d %b %Y')}
                          = post.comments.last.created_at.strftime('%I:%M:%S %p')
                        %br/  
                        %span.mycom                    
                          = post.comments.last.body
                  %span{:class => "comment",:id => "c"+ post.id.to_s}
                    Add a comment...
                  .newcomment{:id => "nc" + post.id.to_s}
                    - if not current_user.blank?
                      %img{:alt => current_user.first_name, :src => current_user.avatar, :title => current_user.first_name}/
                      = form_tag('/blog/'+ post.id.to_s + '/comments',:remote => true) do
                        = text_area_tag 'content',nil, :rows => 5,:cols => 25                   
                        .buttons#buttons
                          = submit_tag 'Post comment',:class => "submit"
                          = submit_tag 'Cancel',:class => "cancel"  
                    - if current_user.blank?
                      = link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
                      = link_to image_tag( 'google_32.png'), '/users/auth/google_oauth2'
              .border
        .dragger_container
          .dragger
        %a.scrollUpBtn{:href => "#"}
        %a.scrollDownBtn{:href => "#"}
         

%br


