%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "/assets/style.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %title Zita blog
%body
  %hgroup
    #albumname
      %h1 Blog
  %blogsection#bgblog
    %blogarticle#blog.blog
      .customScrollBox
        .container
          .content
            - @posts.each do |post|
              %h2
                = post.title
              .date
                %span.day
                  = post.created_at.day
                %span.month
                  = post.created_at.strftime("%b")  
                %span.year
                  = post.created_at.year
              %p.nomargin
                = post.content
                %br/
                .commenthist
                  - if post.comments.length < 2
                    = post.comments.length.to_s + " Comments"
                  - if post.comments.length > 1
                    = link_to post.comments.length.to_s + " Comments",'#',:id => 'comments-link'                  
                    .popupComments                  
                      - post.comments[0...-1].each do |comment|
                        .commenthist_unit
                          %img{:alt => comment.user.first_name, :src => comment.user.avatar, :title => comment.user.first_name}/                  
                          = comment.body
                  - if post.comments.length > 0
                    .commenthist_unit
                      %img{:alt => post.comments.last.user.first_name, :src => post.comments.last.user.avatar, :title => post.comments.last.user.first_name}/                  
                      = post.comments.last.body
              .comment
                Add a comment...
              .newcomment
                - if not current_user.blank?
                  %img{:alt => current_user.first_name, :src => current_user.avatar, :title => current_user.first_name}/
                  = form_tag('/blog/'+ post.id.to_s + '/comments',:remote => true) do
                    = text_area_tag 'content',nil, :rows => 5,:cols => 25                   
                    .buttons#buttons
                      = submit_tag 'Post comment',:class => "submit"
                      = submit_tag 'Cancel',:class => "cancel"  
                - if current_user.blank?
                  = link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
                  = link_to image_tag( 'google_32.png'), '/users/auth/google_oauth2'
                .border
        .dragger_container
          .dragger
        %a.scrollUpBtn{:href => "#"}
        %a.scrollDownBtn{:href => "#"}
         

%br


