%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "/assets/style.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %title Blog
%body
  %hgroup
    #albumname
      %h1 Blog
  %nav
    %ul#menuleft.menuleft
      %li
        %a#about{:href => "#"}
          %span.active
          %span.wrap
            %span.link About me
      %li
        %a#contact{:href => "#"}
          %span.active
          %span.wrap
            %span.link Contact      
    %ul#menu.menu
      %li
        %a#projects{:href => "#"}
          %span.active
          %span.wrap
            %span.link Projects              
      %li
        %a#photos{:href => "#"}
          %span.active
          %span.wrap
            %span.link Photos        
  %blogsection#bgblog
    %blogarticle#blog.blog
      .customScrollBox
        .container
          .content
            - @posts.each do |post|
              %h2
                = best_in_place post, :title
              .date
                %span.day
                  = post.created_at.day
                %span.month
                  = post.created_at.strftime("%b")  
                %span.year
                  = post.created_at.year
              %p.nomargin
                = best_in_place post, :content,type: :textarea
                = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
                %br/
                = post.comments.length.to_s + " Comments"
              .comment
                Add a comment...
              .newcomment
                - if not current_user.blank?
                  %img{:alt => current_user.first_name, :src => current_user.avatar, :title => current_user.first_name}/
                  = form_tag('/blog/'+ post.id.to_s + '/comments',:remote => true) do
                    = text_area_tag 'content',nil, :rows => 5,:cols => 25                   
                    .buttons#buttons
                      = submit_tag 'Post comment',:class => "submit"
                      = submit_tag 'Cancel',:class => "cancel"  
                - if current_user.blank?
                  = link_to image_tag( 'facebook_32.png'), '/users/auth/facebook'
                  = link_to image_tag( 'google_32.png'), '/users/auth/google_oauth2'
                .border
        .dragger_container
          .dragger
        %a.scrollUpBtn{:href => "#"}
        %a.scrollDownBtn{:href => "#"}
         
    = link_to 'New Post', new_post_path     

%br


